@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

@theme {
  --font-poppins: Poppins, "sans-serif";
}

@layer utilities {
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-200%);
    }
  }

  .animate-marquee {
    width: 200%;
    animation: marquee 10s linear infinite;
  }

  @media (min-width: 768px) {
    .animate-marquee {
      width: 100%;
      animation: marquee 15s linear infinite;
    }
  }
}

@layer base {
  html {
    @apply font-poppins scroll-smooth;
  }

  body {
    @apply bg-zinc-900 text-zinc-50;
  }

  footer {
    @apply flex h-15 flex-col items-center justify-center bg-zinc-950 lg:flex-row lg:space-x-6;
  }

  header {
    @apply sticky top-0 z-50 flex items-center justify-between px-[4%] py-5 lg:px-[10%];
  }
}

@layer components {
  .header-cont {
    @apply transition-all duration-300 ease-in-out after:absolute after:bottom-0 after:left-0 after:h-[0.1rem] after:w-0 after:bg-blue-500 after:transition-all after:duration-300 after:content-[''] hover:after:w-full lg:relative;
  }

  .sidepanel {
    @apply fixed top-0 right-0 z-[1] h-full w-0 overflow-x-hidden bg-[#111] pt-[60px] transition-all duration-500;
  }

  .sidepanel-cont {
    @apply block px-2 py-2 pl-8 text-[25px] text-[#818181] no-underline transition-all duration-300 hover:bg-gray-900;
  }

  .closebtn {
    @apply absolute top-5 right-[25px] text-[36px];
  }

  .openbtn {
    @apply cursor-pointer border-none px-[15px] py-[10px] text-[20px] text-white;
  }

  .hero {
    @apply flex scroll-m-[6rem] flex-col items-center justify-center px-[4%] lg:my-0 lg:h-[calc(100vh-5rem)] lg:scroll-m-[5rem] lg:px-[10%];
  }

  .sobre {
    @apply flex h-screen flex-col items-center justify-center bg-[#121214] px-[4%] py-0 lg:h-[calc(100vh-5rem)] lg:scroll-m-[5rem] lg:flex-row lg:justify-between lg:px-[10%];
  }

  .habilidades {
    @apply flex scroll-m-[6rem] flex-col justify-center px-[4%] py-10 lg:h-[calc(100vh-5rem)] lg:px-[10%] lg:py-0;
  }

  .projetos {
    @apply relative flex h-screen scroll-m-[2rem] flex-col items-center justify-center bg-[#121214] px-[16%] py-0 lg:h-[calc(100vh-5rem)] lg:scroll-m-[5rem];
  }

  .contato {
    @apply flex scroll-m-[6rem] flex-col-reverse items-center justify-center lg:h-[calc(100vh-5rem)] lg:scroll-m-[5rem] lg:flex-row lg:space-x-20 lg:px-[10%] lg:py-0;
  }

  .scrolled {
    @apply bg-[#101011];
  }

  .botao1 {
    @apply cursor-pointer rounded-md bg-blue-500 font-bold text-zinc-900 hover:border-2 hover:border-blue-500 hover:bg-zinc-900 hover:text-zinc-50;
  }

  .botao2 {
    @apply cursor-pointer rounded-md border-2 border-blue-500 font-bold text-blue-500 hover:bg-blue-500 hover:text-zinc-900;
  }

  .btnRedes {
    @apply cursor-pointer rounded-full border-2 border-blue-500 p-2 text-blue-500 hover:bg-blue-500 hover:text-zinc-900;
  }

  .habilidades-cont {
    @apply bg-[#242427] p-5 inset-shadow-xs inset-shadow-[#121214];
  }

  .tecnologias {
    @apply h-15;
  }

  .swiper {
    @apply h-120 w-full;
  }

  .swiper-slide {
    @apply flex cursor-pointer items-center justify-center overflow-hidden rounded-4xl text-lg;
  }

  .swiper-img {
    @apply h-full w-full object-cover;
  }
  .swiper-slide:hover .swiper-img {
    @apply scale-105 transition-transform duration-300 ease-in-out;
  }

  .form-contato {
    @apply flex flex-col gap-2 bg-[#242427] p-5;
  }

  .form-input {
    @apply w-full rounded-md bg-zinc-900 p-3 text-zinc-50 placeholder-zinc-500 focus:border-blue-500 focus:outline-none;
  }

  .item-contato {
    @apply bg-[#242427] p-5 text-xl text-blue-500;
  }
}
